REQUIREMENTS FOR MLBVIEWER 2012 SEASON

FOR 2011 USERS:

If you used mlbviewer in 2011, not much has changed.

1. Download mlbhls (if you plan to use nexdef), build it, install it.

svn co https://mlbtv-hls-nexdef.googlecode.com/svn/branches/experimental mlbhls
cd mlbhls
make
sudo cp mlbhls /usr/bin

2. If you were using speed=800 in $HOME/.mlb/config, change that to 1200. The
800 stream may not exist in 2012.

Other than that, you should not have to do anything different for 2012.

NEW USERS:

To get going for the 2012 season, you will need the following packages:

OPTIONAL (but very helpful, especially for Linux beginners!):

Setuptools - http://pypi.python.org/pypi/setuptools

This will help you download and install the required python packages

REQUIRED:

PyXML - http://pyxml.sourceforge.net/topics/download.html

setuptools users: You can install these with the following commands (as root):

$ easy_install pyxml

Please read on for further requirements depending on whether you are an MLB.TV
Premium or MLB.TV Basic subscriber.

PREMIUM USERS

You will need mlbhls (see above) to access the higher bitrates.

NON-PREMIUM USERS (and Gameday Audio subscribers)

You will need rtmpdump version 1.7 or greater.

rtmpdump - http://rtmpdump.mplayerhq.hu/

MPLAYER2 VS MPLAYER

Mplayer2 is fork of the mplayer project.  It also seems to play the streams 
and handle stream rate switches (important if you enable adaptive streaming
in nexdef mode - see README for more details) better than the original mplayer.
For this reason, it is recommended that you download, compile, and install
mplayer2 for use with mlbviewer and MLB.TV.

http://www.mplayer2.org


The basic instructions are:

1. Download a tarball.
2. Unpack it.
3. Run 'make -j 6'
4. Run 'make install'

The binary is statically linked so it will not replace the library files that
other players like vlc are using.

---------------------------------------------------------------------------

READ THE README FOR MORE HELP ON USING MLBVIEWER 2012.

Also, you can post any support questions either to the Sourceforge forum at:

https://sourceforge.net/forum/?group_id=224512

Or the Linux Questions thread here:

http://www.linuxquestions.org/questions/fedora-35/mlb.tv-in-linux-432479/

No, you don't have to read all 200+ pages.  Just skip to the last page
and post question to the end of the thread.  There are several helpful
testers who have been with this project since the start.

